*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
}
.clock{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: rgb(110, 118, 118,0.1);
    border: 2px solid  rgb(110, 118, 118,0.25);
    box-shadow: 0px 0px 30px rgb(0,0,0,0.8);
    justify-content: center;
    display: flex;
    align-items: center;
}
.clock span{
   
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
}
.hand{
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    height: var(--h);
    background-color: var(--clr);
    width: 4px;
    border-radius: 8px;
}